@page "/Books"

@inject BooksBLL BooksBLL


@code {

    [Parameter]
    public Books Book { get; set; } = new Books();

    void New()
    {
        Book = new Books();
    }
    void Save()
    {
        if(Validate() == false)
            return;
        if(BooksBLL.Save(Book))
            New();
    }

    void Delete()
    {
        if(BooksBLL.Delete(Book))
            New();
    }

    void Search()
    {
        var bookFound = BooksBLL.Search(Book.BookId);
        if(bookFound != null)
            Book = bookFound;
    }

    bool Validate()
    {
        if(String.IsNullOrEmpty(Book.Title))
            return false;
        if(Book.Price < 0)
            return false;
        if(Book.BookId < 0)
            return false;
        else
            return true;
    }
}

<style>
    .card{
        width: 500px;
    }

    #search-div{
        display: flex;
    }

    #search-div, input{
        width: 200px;
    }

</style>
<EditForm Model="Book" OnInvalidSubmit="Save">
    <div class="card">
        <div class="card-header">
            <h3>Registro de libros</h3>
        </div>

        <div class="card-body">
            <label class="form-label">Libro Id</label>

            <div id="search-div">
                <InputNumber @bind-Value="Book.BookId" class="form-control"/>
                <button class="btn btn-info" @onclick="Search">Buscar</button>
            </div>
            <label class="form-label">Title</label>
            <InputText @bind-Value="Book.Title" class="form-control"/>

            <label class="form-label">Precio</label>
            <InputNumber @bind-Value="Book.Price" class="form-control"/>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" @onclick="New">Nuevo</button>
            <button class="btn btn-success" @onclick="Save">Guardar</button>
            <button class="btn btn-danger" @onclick="Delete">Eliminar</button>
        </div>
    </div>
</EditForm>